<%- include('partials/header') %>
<div id="consola">
    <div class="interaccion">
        <div class="comando">
            <div class="text-comando">&excl;play</div>
        </div>
        <div class="parameters">
            <div class="text-parameters">dice</div>
        </div>
        <div class="respuesta">   
            <div class="space"></div>    
            <div class="text-respuesta">Has obtenido&nbsp;<span class="value-response">5</span>&nbsp;en el dado</div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>